# Paths in this config file must be set as absolute paths, if no paths are set the program defaults to your current working directory. In the future there will probably be more options as development furthers, to make this config actually parsable by the program remove _Example from the file name, currently the config is pretty basic using comma separated key pairs.
output_path, /path/to/output/folder
